[submodule "ticketscan/ui-android"]
	path = ticketscan/ui-android
	url = git@github.com:LIDALabs/ui-android.git
[submodule "ticketscan/sync-android"]
	path = ticketscan/sync-android
	url = git@github.com:LIDALabs/sync-android.git
