[submodule "ticketscan/libpretixsync-repo"]
	path = ticketscan/sync-repo
	url = https://github.com/LIDALabs/sync-android.git
	branch = master
[submodule "ticketscan/libpretixui-repo"]
	path = ticketscan/ui-repo
	url = https://github.com/LIDALabs/ui-android.git
